<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Title : Warhammer 40k</title>
  <style>
    body {
      background: radial-gradient(circle, rgba(251, 230, 63, 1) 0%, rgba(212, 73, 209, 1) 50%, rgba(255, 42, 0, 1) 100%);
    }
  </style>
</head>

<body>
  <h1>h1 : Warhammer 40k</h1>
  <p>p : The following image of Imperial Guard BaneBlade tank</p>
  <img src='./../image/ImperialGuardBaneBlade.jpg' alt="alt = ballon" width="500">

  <div class="card" style="width: 20rem;">
    <img src="./../image/Salamanders.webp" class="card-img-top" alt="..." width="200">
    <div class="card-body">
      <h5 class="card-title">h5 Card title : Salamanders</h5>
      <p class="card-text">p Card Text : Some quick example text to build on the card title and make up the bulk of the
        card's
        content.</p>
      <a href="#" class="btn btn-primary">a href : Go somewhere</a>
      <a href="#" class="card-link">a href : Another link</a>
    </div>
  </div>

  <div class="card" style="width: 30rem;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5DADj6AuAYs" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">h5 Card title : Jaghatai Khan Tense Reunion With Leman Russ</h5>
      <p class="card-text">p Card Text : Wolf Lord Rho</p>
      <a href="https://www.youtube.com/watch?v=5DADj6AuAYs" class="btn btn-primary">a href : Youtube Page</a>
    </div>
  </div>

</body>

</html>